.cell {
    height: 25px;
    width: 25px;
    border: 1px solid black;
}

.row {
    display: flex;
}

body {
    text-align: center;
    background-color: #fef9ee;
}

#container {
    width: fit-content;;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

#timer {
    font-family: 'Courier New', Courier, monospace;
    color: #F44336;
    background-color: #111;
    border-radius: 5px;
    box-shadow: 0 0 7px #3F51B5, inset 0 0 10px #2196F3;
    letter-spacing: 5px;
    width: 40px;
    text-align: center;
    height: auto;
    margin: 0 auto;
    position: relative;
    padding-left: 5px
}